@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*configuração cabeçalho*/
header{
    background-color: #111326;
    height: 128px;
    background-position: 100% ;
}
.container-grid{
    width: 1200px;
    margin: 0 auto;
}
.cabecalho{
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
#txtBusca{
    float:left;
    background-color:white;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:solid 1px;
    height:37px;
    width: 650px;
    border-radius: 30px;
    background-image:url(img/lupa.png);
    background-repeat: no-repeat;
    text-indent: 0px;
    background-position-x: right;
    background-size: contain;
}
#barras{
    display: none;
}


/*configuração Menu*/
.menu{
    background-color: #4f5788;
    height: 30px;
    border: 3px solid #000000;
    align-items: center;
    justify-content: space-between;
}
#txtBusca2{
    display:none;
}
.atalho{
    display: flex;
    font-size: 17px;
    font-family: "Inter";
    color: white;  

}
.menu2{display: none;}
.menu3{display: none;}
#menu3{
    display: none;
}


/*configuração Banner*/
.efeitos{
    transition-duration: 3s;
}


.banner-pc1{
    background-image: url(img/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 628px;
    
}

.banner-pc2{
    background-image: url(img/banner-pc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 628px;
   
    
}

.banner-pc3{
    background-image: url(img/banner-pc3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 628px;
  
}

.sloganbanner{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    position: absolute;
    margin-top: 213px; 
}
.conteudobanner1{
    display: flex;
    width: 533px;
    height: 139px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    float: right;
}

.conteudobanner1 h1{
    font-family: "Libre Baskerville";
    font-size: 40px;
}
.conteudobanner1 a{
    font-size: 30px;
    padding: 15px;
    font-family: "Roboto";
    background-color: red;
    text-transform: uppercase;
    border-radius: 30px;
}



/*configuração informações de pagamento*/
.infopagamento{
    background-color: #4f5788;
    height: 50px;

}
.posicionamento{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.entrega{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:297px;
}
.entrega p{
    display: flex;
    color: white;
    font-size: 16px;
    font-family: "Inter";
    font-weight: bolder;
    margin-top: 11px;

}
.entrega img{
    height: 51px;
    width: 95px;
    float: left;
}


.pagamentoseguro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:213px;
}
.pagamentoseguro{
    color: white;
    font-size: 16px;
    font-family: "Inter";
    font-weight: bolder;
    
}
.pagamentoseguro img{
    height: 51px;
    width: 51px;
    float: left;
}
.pagamentoseguro p{
    margin-top: 11px;
}


.parcela{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:315px;
}
.parcela{ 
    color: white;
    font-size: 16px;
    font-family: "Inter";
    font-weight: bolder;
    
}

.parcela img{
    height: 51px;
    width: 51px;
    float: left;
}
.parcela p{
    margin-top: 11px;
}

/*configuração seção SEJAGAMER*/
.bannerinformativo{
   height: 859px;
   background-image: url(img/backgoundinformativo.png) ;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
.conteudoinformativo{  
    margin-top: -61px;
}
.imguriel{
    margin-top: 32px;
    margin-bottom: 0px ;
}

.sejagamer{
    height: 55.77px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    font-family: "Inter";
    font-weight: bolder;
    margin-top: 17px;
    
}
.textosejagamer{
    height: 444px;
    width: 630.66px;
    display: flex;
    align-items: center;
    float: right;
    color: white;
    font-size: 30px;
    font-family: "Baskerville";
    margin-top: 116px;
    text-align: justify;

}

.botaosejagamer{
    display: flex;
    float: right;
    margin-right: 177px;
    font-size: 30px;
    padding: 15px;
    color: white;
    font-family: "Roboto";
    background-color: #172799;
    text-transform: uppercase;
    border-radius: 30px;
}


/*configuração OFERTAS*/
.background{
    height: 754px;
    background-color: #111326;
    background-size: cover;
    background-repeat: no-repeat;
    margin: -7px auto;
    display: flex;
    justify-items: center;
    border: #000000;
    border-style: solid;

}

.retangulo{
    height: 750px;
    width: 1200px ;
    background-color: #0c0d13;
    background-blend-mode: color;
    border-radius:30px;
    border: #000000;
    border-style: solid;
    
}

.titulo{
    font-family: "Inter";
    font-size: 64px;
    font-weight: bolder;
    color: white;
    display:flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 129px;
}

.ofertasprodutos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -65px;
   
}

.produto1{
    height: 465px;
    width: 251px;
    background-color: white;
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.imgproduto1{
    height: 223px;
    width: 240px;
    border-radius: 30px;
    justify-content: center;
}

.botaocompreagora{
    height: 70.92px;
    width: 224px;
    font-size: 20px;
    padding: 15px;
    color: white;
    font-family: "Roboto";
    background-color: red;
    text-transform: uppercase;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.produto1 p{
    font-family: "Inter";
    font-weight: bold;
    font-size: 20px;
    height: 125px;
    width: 248px;
    text-align: center;
    margin-bottom: -4px;
    margin-top: 27px;

}

.produto2{
    height: 465px;
    width: 251px;
    background-color: white;
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    display: flex;
    justify-content: center;
   
}

.imgproduto2{
    height: 213px;
    width: 240px;
    border-radius: 30px;
    justify-content: center;
   

}

.produto2 p{
    font-family: "Inter";
    font-weight: bold;
    font-size: 20px;
    height: 125px;
    width: 248px;
    text-align: center;
    margin-top: 34px;

}
.botaocompreagora2{
    height: 70.92px;
    width: 224px;
    font-size: 20px;
    padding: 15px;
    color: white;
    font-family: "Roboto";
    background-color: red;
    text-transform: uppercase;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9px;
    margin-top: -18px;
}

.produto3{
    height: 465px;
    width: 251px;
    background-color: white;
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    display: flex;
    justify-content: center; 
   
}

.imgproduto3{
    height: 142px;
    width: 212px;
    border-radius: 30px;
    justify-content: center;
    margin-top: 67px;
    margin-left: 20px;

}

.produto3 p{
    font-family: "Inter";
    font-weight: bold;
    font-size: 20px;
    height: 125px;
    width: 248px;
    text-align: center;
    margin-top: 36px;

}
.botaocompreagora3{
    height: 70.92px;
    width: 224px;
    font-size: 20px;
    padding: 15px;
    color: white;
    font-family: "Roboto";
    background-color: red;
    text-transform: uppercase;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-top: -18px;}



/*configuração RODAPÉ*/
.background2{
    height: 372px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.institucional{
    color: white;
    display: flex;
    font-size: 16px;
    font-family: "Inter";

}

.atendimento{
    color: white;
    display: flex;
    font-size: 16px;
    font-family: "Inter";
    margin-top: 17px;

}
.redessociais{
    color: white;
    display: flex;
    font-size: 16px;
    font-family: "Inter";
    margin-top: -190px;
}
.institucional h1{
    color: white;
    display: flex;
    font-size: 24px;
    font-family: "Inter";
}

.atendimento h1{
    color: white;
    display: flex;
    font-size: 24px;
    font-family: "Inter";
}
.redessociais h1{
    color: white;
    display: flex;
    font-size: 24px;
    font-family: "Inter";
}
.logoredes{
    width: 188px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
}


@media screen and (max-width:1200px){

    .container-grid{
        width: 900px;
    }
/*Conteúdo banner 1*/   
    .Banner{
        background-image: url(img/Banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        background-position-x: 100%;
    }
    .conteudobanner{
        display: flex;
        width: 550px;
        height: 275px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .conteudobanner h1{
        font-family: "Libre Baskerville";
        font-size: 30px;
    }
    .conteudobanner a{
        font-size: 20px;
        padding: 15px;
        font-family: "Roboto";
        background-color: red;
        text-transform: uppercase;
        border-radius: 30px;
        margin-top: -73px;
    }
    .login{
        display: flex;
        width: 150px;
        justify-content: space-between;
        margin-left: 25px;

    }



/* Conteúdo Seja Gamer*/
    .bannerinformativo{
        height: 700px;
        background-image: url(Img/backgoundinformativo.png) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   
    .conteudoinformativo{
        margin-top: -53px;
    }
    .imguriel{
        width:350px;
        height: 400px;
    }
    .textosejagamer{
        height: 524px;
        width: 532.66px;
        display: flex;
        align-items: center;
        float: right;
        color: white;
        font-size: 24px;
        font-family: "Baskerville";
        margin-top: 0px;
        text-align: justify;
    }
    .sejagamer{
        height: 40.77px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
        font-family: "Inter";
        font-weight: bolder;
        margin-top: 29px;
    }
    .botaosejagamer{
        display: flex;
        float: right;
        margin-right: 100px;
        margin-top: -17px;
        font-size: 30px;
        padding: 15px;
        color: white;
        font-family: "Roboto";
        background-color: #172799;
        text-transform: uppercase;
        border-radius: 30px;
    }



 /* Venda de Produtos*/
    .background{
        height: 596px;
        background-color: #111326;
        background-size: cover;
        background-repeat: no-repeat;
        margin: -7px auto;
        display: flex;
        justify-items: center;
        border: #000000;
        border-style: solid;
    
    }
    .retangulo{
        height: 588px;
        background-color: #0c0d13;
        background-blend-mode: color;
        border-radius:30px;
        border: #000000;
        border-style: solid;
        
    }   
    .titulo{
        font-family: "Inter";
        font-size: 50px;
        font-weight: bolder;
        color: white;
        display:flex;
        justify-content: center;
        margin-top: 12px;
        margin-bottom: 129px;
    }
    .produto1{
        height: 361px;
        width: 205px;
        background-color: white;
        border-radius: 30px;
        border-color: #000000;
        border-style: solid;
        display: flex;
        justify-content: center;
    }  
    .imgproduto1{
        height: 122px;
        width: 180px;
        border-radius: 30px;
        justify-content: center;
    }
    .botaocompreagora{
        height: 70.92px;
        width: 170px;
        font-size: 16px;
        padding: 15px;
        color: white;
        font-family: "Roboto";
        background-color: red;
        text-transform: uppercase;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;
        margin-top: 24px;
    }
    .produto1 p{
        font-family: "Inter";
        font-weight: bold;
        font-size: 16px;
        height: 100px;
        width: 150px;
        text-align: center;
        justify-content: center;
        margin-left: 15px;
    
    }
    .produto2{
        height: 361px;
        width: 205px;
        background-color: white;
        border-radius: 30px;
        border-color: #000000;
        border-style: solid;
        display: flex;
        justify-content: center;
       
    } 
    .imgproduto2{
        height: 109px;
        width: 173px;
        border-radius: 30px;
        justify-content: center;
        margin-top: 3px;
    
    } 
    .produto2 p{
        font-family: "Inter";
        font-weight: bold;
        font-size: 16px;
        height: 100px;
        width: 150px;
        text-align: center;
        justify-content: center;
        margin-left: 15px;
        margin-top: 30px;
    }
    .botaocompreagora2{
        height: 70.92px;
        width: 170px;
        font-size: 16px;
        padding: 15px;
        color: white;
        font-family: "Roboto";
        background-color: red;
        text-transform: uppercase;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
        margin-top: 25px;
    
    }
    .produto3{
        height: 361px;
        width: 205px;
        background-color: white;
        border-radius: 30px;
        border-color: #000000;
        border-style: solid;
        display: flex;
        justify-content: center;
       ; 
       
    }  
    .imgproduto3{
        height: 109px;
        width: 173px;
        border-radius: 30px;
        justify-content: center;
        margin-top: 9px;
        margin-left: 6px;
    
    }    
    .produto3 p{
        font-family: "Inter";
        font-weight: bold;
        font-size: 16px;
        height: 100px;
        width: 150px;
        text-align: center;
        justify-content: center;
        margin-left: 15px;
    
    }
    .botaocompreagora3{
        height: 70.92px;
        width: 170px;
        font-size: 16px;
        padding: 15px;
        color: white;
        font-family: "Roboto";
        background-color: red;
        text-transform: uppercase;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6px;
        margin-top: 13px;}



/* Rodapé */
.background2{
    height: 417px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.institucional{
    color: white;
    display: flex;
    font-size: 16px;
    font-family: "Inter";
    margin-left: -26px;
    margin-right: 126px;
    margin-top: -4px;   
}
.redessociais h1{
    color: white;
    display: flex;
    font-size: 24px;
    font-family: "Inter";
    margin-top: -52px;
    margin-bottom: 0px;
}
.logoredes{
    width: 188px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 33px;
}
#barras{
    display: none;
}
}
/* css para o tablet*/
@media screen and (max-width: 1000px) {
    .container{
        width: 900px;
    }

    #txtBusca{
        display: none;    
    }

    #txtBusca2{
        display: flex;
        background-color:white;
        padding-left:5px;
        font-style:italic;
        font-size:18px;
        border:solid 1px;
        height:37px;
        width: 650px;
        border-radius: 30px;
        background-image:url(img/lupa.png);
        background-repeat: no-repeat;
        text-indent: 0px;
        background-position-x: right;
        background-size: contain;
    }
    #menu{
        display: none;

    }
    #menu3{
        display: none;
    }

    #barras{
        display: flex;
        height: 40px;
        width: 40px;
    }
    #infopagamento{
        display: none;
    }
    .header{
        background-color: #111326;
        height: 128px;
        width: 375px;
    }
    .login{
        display: flex;
        width: 163px;
        justify-content: space-between;
        height: 40px;
        

    }
    .menu3{
        display: flex;
        background-color: #4f5788;
        flex-direction: column;
        float: right;
        text-align: center;
        border-radius: 30px;
        font-family: "Baskerville";
        font-size: large;    
        color: white;
        font-weight: bolder;
        transform: translateY(-90px);
        width: 600px;
    }
    .menu2{
        display:flex;
        background-color: #4f5788;
        height: 55px;
        border: 3px solid #000000;
        justify-content:center ;
        align-items: center;
    }
    .textosejagamer{
        height: 524px;
        width: 532.66px;
        display: flex;
        align-items: center;
        float: right;
        color: white;
        font-size: 24px;
        font-family: "Baskerville";
        margin-top: 4px;
        text-align: justify;
    }
    .sejagamer{
        height: 40.77px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
        font-family: "Inter";
        font-weight: bolder;
        margin-top: 28px;
    }
    .botaosejagamer{
        display: flex;
        float: right;
        margin-right: 100px;
        margin-top: -17px;
        font-size: 30px;
        padding: 15px;
        color: white;
        font-family: "Roboto";
        background-color: #172799;
        text-transform: uppercase;
        border-radius: 30px;
    }
    .institucional{
        color: white;
        display: flex;
        font-size: 14px;
        font-family: "Inter";
        
    }
    .atalhomobile
    
    .atendimento{
        color: white;
        display: flex;
        font-size: 14px;
        font-family: "Inter";
       
    }
    .redessociais{
        color: white;
        display: flex;
        font-size: 14px;
        font-family: "Inter";
        margin-top: -137px;
      
    }
    .logoredes{
        width: 188px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
    }
    .institucional h1{
        color: white;
        display: flex;
        font-size: 24px;
        font-family: "Inter";
      
    }
    
    .atendimento h1{
        color: white;
        display: flex;
        font-size: 24px;
        font-family: "Inter";
    }
    .redessociais h1{
        color: white;
        display: flex;
        font-size: 24px;
        font-family: "Inter";
        justify-content: center;
        align-content: center;

    }
    .logoredes{
        width: 188px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
    }

}
/*css tablet*/
@media screen and (max-width: 900px){
    .container-grid{
        width: 700px;
    }
    .login{
        display: flex;
        width: 150px;
        justify-content: space-between;
        margin-left: 25px;

    }
    .menu{
        display: none;
    }
    .Banner{
        background-image: url(img/Banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
       
       
    }
    .conteudobanner{
        display: flex;
        width: 350px;
        height: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
    }

    .conteudobanner h1{
        font-family: "Libre Baskerville";
        color: white;
        font-size: 24px;
    }
    
    
    .conteudobanner a{
        font-size: 24px;
        padding: 15px;
        color: white;
        font-family: "Roboto";
        background-color: red;
        text-transform: uppercase;
        border-radius: 30px;
        height: 60px;
        width: 220px;
    }


/* Conteúdo Seja Gamer*/
    .bannerinformativo{
        height: 500px;
        background-image: url(Img/backgoundinformativo.png) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
        
    .conteudoinformativo{
        margin-top: -26px;
    }
    .imguriel{
        width:275px;
        height: 325px;
    }
    .textosejagamer{
        height: 320px;
        width: 400px;
        display: flex;
        align-items: center;
        float: right;
        color: white;
        font-size: 17px;
        font-family: "Baskerville";
        margin-top: 23px;
        text-align: justify;
    }
    .sejagamer{
        height: 40.77px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 40px;
        font-family: "Inter";
        font-weight: bolder;
        margin-top: 0px;
    }
    .botaosejagamer{
        display: flex;
        float: right;
        margin-right: 100px;
        margin-top: -22px;
        font-size: 20px;
        padding: 15px;
        color: white;
        font-family: "Roboto";
        background-color: #172799;
        text-transform: uppercase;
        border-radius: 30px;
    }



 /* Venda de Produtos*/
    .background{
        height: 520px;
        background-color: #111326;
        background-size: cover;
        background-repeat: no-repeat;
        margin: -7px auto;
        display: flex;
        justify-items: center;
        border: #000000;
        border-style: solid;
    
    }
    .retangulo{
        height: 510px;
        background-color: #0c0d13;
        background-blend-mode: color;
        border-radius:30px;
        border: #000000;
        border-style: solid;
        
    }   
    .titulo{
        font-family: "Inter";
        font-size: 30px;
        font-weight: bolder;
        color: white;
        display:flex;
        justify-content: center;
        margin-top: 12px;
        margin-bottom: 129px;
    }
    .ofertasprodutos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -90px;
       
    }
    .produto1{
        height: 361px;
        width: 205px;
        background-color: white;
        border-radius: 30px;
        border-color: #000000;
        border-style: solid;
        display: flex;
        justify-content: center;
    }  
    .imgproduto1{
        height: 122px;
        width: 180px;
        border-radius: 30px;
        justify-content: center;
    }
    .botaocompreagora{
        height: 70.92px;
        width: 170px;
        font-size: 16px;
        padding: 15px;
        color: white;
        font-family: "Roboto";
        background-color: red;
        text-transform: uppercase;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;
        margin-top: 24px;
    }
    .produto1 p{
        font-family: "Inter";
        font-weight: bold;
        font-size: 16px;
        height: 100px;
        width: 150px;
        text-align: center;
        justify-content: center;
        margin-left: 15px;
    
    }
    .produto2{
        height: 361px;
        width: 205px;
        background-color: white;
        border-radius: 30px;
        border-color: #000000;
        border-style: solid;
        display: flex;
        justify-content: center;
       
    } 
    .imgproduto2{
        height: 109px;
        width: 173px;
        border-radius: 30px;
        justify-content: center;
        margin-top: 3px;
    
    } 
    .produto2 p{
        font-family: "Inter";
        font-weight: bold;
        font-size: 16px;
        height: 100px;
        width: 150px;
        text-align: center;
        justify-content: center;
        margin-left: 15px;
        margin-top: 30px;
    }
    .botaocompreagora2{
        height: 70.92px;
        width: 170px;
        font-size: 16px;
        padding: 15px;
        color: white;
        font-family: "Roboto";
        background-color: red;
        text-transform: uppercase;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
        margin-top: 25px;
    
    }
    .produto3{
        height: 361px;
        width: 205px;
        background-color: white;
        border-radius: 30px;
        border-color: #000000;
        border-style: solid;
        display: none;
        justify-content: center;
       ; 
       
    }  

    .background2{
        height: 313px;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .institucional{
            color: white;
            display: flex;
            font-size: 14px;
            font-family: "Inter";
    }
    .atendimento{
        color: white;
        display: flex;
        font-size: 14px;
        font-family: "Inter";
        margin-top: 17px;
    }
    .redessociais{
            color: white;
            display: flex;
            font-size: 14px;
            font-family: "Inter";
           
    }
    .logoredes{
            width: 188px;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
    
    }
}